.menu {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.menu.expanded {
  background-color: lightgray;
}

.menu ul {
  margin: 10px;
  margin-top: 0;
}

.menu ul button {
  font-size: small;
  width: 100%;
  padding: 3px;
  margin: 3px 0;
}

.menu i {
  cursor: pointer;
}
