.attendance-container p {
  margin: 0;
  padding: 0;
}

.attendance-container form {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.attendance-container form button {
  margin: 0px 5px;
  padding: 0px 5px;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

.attendance-container li button {
  padding: 2px;
}

.attendance-container h4 {
  margin: 0;
  padding: 0;
}

.attendance-container input {
  margin-left: 5px;
}
