.newNoteContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 100%;
  height: 100%;
}

button.newNote {
  padding: 5px;
  margin: 0px 5px;
  color: black;
  display: flex;
  font-size: small;
  transition: border-color 0.25s, color 0.25s;
}

button.newNote:first-child {
  margin-left: 0px;
}

button.newNote:hover {
  border: 1px solid #000;
}

button.newNote.text:hover {
  border-color: var(--color-primary);
  color: var(--color-primary);
}

button.newNote.motion:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

button.newNote.actionItem:hover {
  border-color: var(--color-tertiary);
  color: var(--color-tertiary);
}

button.newNote i {
  font-size: medium;
}

.newNotePlaceholderContainer {
  position: relative;
  height: 0;
  width: 0;
}

.newNotePlaceholder {
  position: absolute;
  bottom: -8px;
  left: -15px;
}

button.expandClose {
  font-size: smaller;
  border: none;
  background-color: transparent;
}
