.inlineNewButtonContainer {
  width: 100%;
}

button.inlineNewButton {
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: smaller;
  border: none;
  background-color: transparent;
  color: #000;
}

button.inlineNewButton:hover {
  color: var(--color-tertiary);
}

button.inlineNewButton::before,
button.inlineNewButton::after {
  content: "";
  flex: 1 1;
  border-bottom: 1px solid;
}

button.inlineNewButton:not(:empty)::before {
  margin-right: 10px;
}

button.inlineNewButton:not(:empty)::after {
  margin-left: 10px;
}

button.inlineNewButton i {
  font-size: 18px;
}
