.motion label {
  margin-right: 5px;
}

.motion p {
  margin: 5px 0;
}

.motion input,
.motion select {
  margin-left: 5px;
}

.motion input.motionText {
  width: 80%;
}

form.motion {
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  padding: 5px;
}
