h3 {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0px;
  font-size: medium;
  font-weight: regular;
  background-color: var(--color-background);
  color: black;
}

form.topic {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0px;
  font-size: medium;
  font-weight: regular;
  background-color: var(--color-background);
  color: black;
}

form.topic input {
  margin-left: 10px;
}

form.topic select {
  margin-left: 10px;
}

p.topicTime {
  margin-top: 0;
  font-size: small;
  font-weight: regular;
  color: var(--color-text);
}

button.newTopic {
  border: 1px solid #000;
  padding: 10px;
  margin: 10px 0px;
  font-size: medium;
  font-weight: regular;
  background-color: var(--color-background);
  color: black;
  display: flex;
}

button.newTopic:hover {
  border-color: var(--color-secondary);
  color: var(--color-secondary);
}

h3.topicHeader {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.topicMetadata {
  font-weight: normal;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.topicMetadata > span {
  padding-right: 10px;
  margin-right: 10px;
  border-right: 1px solid #000;
}

.topicMetadata > span:last-child {
  border-right: none;
}
